---
import Layout from '../layouts/Layout.astro';
import PhotoGrid from '../components/PhotoGrid.astro';
---

<Layout>
	<main>
		<PhotoGrid 
			data-keywords="buscando hopper, buscando a hopper, fotografía Edward Hopper"
		/>
	</main>
</Layout>

<style>
	main {
		min-height: 100vh;
		width: 100%;
	}
</style>
