<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Looking for Hopper</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--background: #000000;
		--text: #ffffff;
	}
	
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100vh;
		background-color: var(--background);
		color: var(--text);
	}

	img {
		max-width: 100%;
		height: auto;
	}
</style>

<script>
	if (history.scrollRestoration) {
		history.scrollRestoration = 'manual';
	}
	window.scrollTo(0, 0);
</script>
